#userinfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 2px solid #cccccc;
    padding: 20px;
    margin-bottom: 9px;
}

#userinfo h3:first-of-type {
    font-size: 30px;
    font-weight: lighter;
    margin: auto;
}

#userinfo h3:last-of-type {
    font-size: 25px;
    font-weight: lighter;
    margin: auto;
    padding: 10px;
    background-color: #E6D5B8;
}

#logout {
    margin: 0% 20%;
}